body {
	font-family: Arial;
}

.body2 {
	background-color: LightGray;
	font-family: Arial;
}

#parent {
	display: flex;
	flex-direction: column;
}

#ticker {
	order: 2;
	padding: 1vmin;
}

#ticker-group {
	display: flex;
}

#leaderboard {
	order: 1;
	padding: 1vmin;
	height: 80vh;
	max-height: 80vh;
}
#leaderboard2 {
	order: 1;
	padding: 1vmin;
	height: 100vh;
	max-height: 100vh;
}

#leaderboard-group {
	display: flex;
	flex-flow: column;
	flex-wrap: wrap;
	height: 100%;
}

.ticker-item {
	border-radius:25px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	margin: 1vmin;
	padding: 1vmin;
}
.ticker-item2 {
	font-size: 5em;
	margin: 1vmin;
	padding: 1vmin;
}

.ticker-tag-id {
	border-right: 1px solid black;
	font-size: 1.5em;
	padding-right: 1vmin;
}

.ticker-lap-count {
	font-size: 2.5em;
	padding-left: 1vmin;
}

.leaderboard-item {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	font-size: 3.2em;
	margin: 1vmin;
	padding: 1vmin;
	width: 30%;
}

.leaderboard-item2 {
	background-color: White;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	font-size: 3.8em;
	margin: 1vmin;
	padding: 1vmin;
	width: 45%;
}

.leaderboard-table {
	table-layout: fixed;
	width: 100%;
}

.leaderboard-team-name {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 70%;
}

.leaderboard-lap-count {
	text-align: right;
}

/* List transitions */
.list-item {
	transition: all 1s;
	display: inline-block;
}
.list-enter, .list-leave-to {
	opacity: 0;
	transform: translateX(-18vmin);
}

/* Colors - from stupid.css, from clrs.cc */
.navy { background-color: #001F3F; color: hsla(210, 100%, 75%, 1.0); }
.blue { background-color: #0074D9; color:hsla(208, 100%, 85%, 1.0); }
.aqua { background-color: #7FDBFF; color:hsla(197, 100%, 20%, 1.0); }
.teal { background-color: #39CCCC; color: black; }
.olive { background-color: #3D9970; color:hsla(153, 43%, 15%, 1.0); }
.green { background-color: #2ECC40; color:hsla(127, 63%, 15%, 1.0); }
.lime { background-color: #01FF70; color:hsla(146, 100%, 20%, 1.0); }
.yellow { background-color: #FFDC00; color:hsla(52, 100%, 20%, 1.0); }
.orange { background-color: #FF851B; color:hsla(28, 100%, 20%, 1.0); }
.red { background-color: #FF4136; color: hsla(3, 100%, 25%, 1.0); }
.fuchsia { background-color: #F012BE; color:hsla(314, 88%, 21%, 1.0); }
.purple { background-color: #B10DC9; color:hsla(292, 88%, 82%, 1.0); }
.maroon { background-color: #85144B; color:hsla(331, 74%, 70%, 1.0); }
.white { background-color: #FFFFFF; color: #444; }
.silver { background-color: #DDDDDD; color: black; }
.gray { background-color: #AAAAAA; color: black; }
.black { background-color: #111111; color: #ddd; }
