body {
	font-family: Arial;
}

#parent {
	display: flex;
	flex-direction: column;
}

#ticker {
	order: 2;
	padding: 1vmin;
}

#leaderboard {
	order: 1;
	padding: 1vmin;
}

.square {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	padding: 1vmin;
	margin: 1vmin;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	padding: 1vmin;
	margin: 1vmin;
	min-width: 45%;
}

/* List transitions */
.list-item {
	transition: all 1s;
	display: inline-block;
}
.list-enter, .list-leave-to {
	opacity: 0;
	transform: translateX(-18vmin);
}
.list-leave-active {
	position: absolute;
}

/* Colors - from stupid.css, from clrs.cc */
.navy { background-color: #001F3F; color: hsla(210, 100%, 75%, 1.0); }
.blue { background-color: #0074D9; color:hsla(208, 100%, 85%, 1.0); }
.aqua { background-color: #7FDBFF; color:hsla(197, 100%, 20%, 1.0); }
.teal { background-color: #39CCCC; color: black; }
.olive { background-color: #3D9970; color:hsla(153, 43%, 15%, 1.0); }
.green { background-color: #2ECC40; color:hsla(127, 63%, 15%, 1.0); }
.lime { background-color: #01FF70; color:hsla(146, 100%, 20%, 1.0); }
.yellow { background-color: #FFDC00; color:hsla(52, 100%, 20%, 1.0); }
.orange { background-color: #FF851B; color:hsla(28, 100%, 20%, 1.0); }
.red { background-color: #FF4136; color: hsla(3, 100%, 25%, 1.0); }
.fuchsia { background-color: #F012BE; color:hsla(314, 88%, 21%, 1.0); }
.purple { background-color: #B10DC9; color:hsla(292, 88%, 82%, 1.0); }
.maroon { background-color: #85144B; color:hsla(331, 74%, 70%, 1.0); }
.white { background-color: #FFFFFF; color: #444; }
.silver { background-color: #DDDDDD; color: black; }
.gray { background-color: #AAAAAA; color: black; }
.black { background-color: #111111; color: #ddd; }
